<% provide(:title, "Contact") %>
<h1><%= t("link.contact") %></h1>
<p>
  <%= t("label.title", name: t("link.contact")) %>
  <%= link_to t("label.rail_tuts"), "https://www.railstutorial.org/contact" %>
</p>
